# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Apify
apify_storage/
storage/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
*.log